:root{--ion-safe-area-top:20px;--ion-safe-area-bottom:22px}header.svelte-v8dd7g.svelte-v8dd7g{font-size:11px;font-weight:600;letter-spacing:.05em;margin-bottom:1.25em;text-transform:uppercase}section.svelte-v8dd7g.svelte-v8dd7g{margin-top:1em;margin-bottom:2.5em}section.svelte-v8dd7g.svelte-v8dd7g:not(.full-width),.full-width.svelte-v8dd7g>header.svelte-v8dd7g{padding:0 10px}
