.centered.svelte-12jwz8q{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}.span.svelte-12jwz8q{position:absolute;transform:translate(-50%,-50%);font-size:4em}.numberlist.svelte-12jwz8q{padding:.5em 0;border-top:1px solid #eee}
