.square.svelte-hre4dx{width:100px;height:100px;background:#0000ff80}.moveTrack.svelte-hre4dx{width:100%;max-width:500px;background:#0003}.rectangle.svelte-hre4dx{width:500px;height:100px;background:#0000ff80}
